.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  color: #000;
}

header {
margin-bottom: 40px;
  padding-top: 60px;
}

h2 {
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  text-align: center;
}
