@import './fonts.css';

html {
  box-sizing: border-box;
}

body {
  font-family: PT Sans, sans-serif;
  background-color: #fec161;
  background-image: linear-gradient(to bottom, #fec161, #bf7000);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

​img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}
