.mainBalance {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.mainBalance span {
  padding-left: 16px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #764500;
}

.tab {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #764500;
}

.tab span {
  margin-right: 24px;
  cursor: pointer;
}

.tab span.active {
  text-decoration: underline;
  color: #000;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.inputTitle {
  width: 516px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.smallText {
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #4f4f4f;
}

.formWrapper input {
  width: 516px;
  height: 78px;
  margin: 0 36px 24px 0;
  padding-left: 8px;
  font-size: 24px;
  background: #fbfbfb;
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  border-radius: 4px;
}

.formWrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 78px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background: #bf7000;
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  border-radius: 4px;
}

.receive {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
